/* .N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-hex { color: #127369; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-hex { color: #10403B; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-hex { color: #8AA6A3; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-hex { color: #4C5958; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-hex { color: #BFBFBF; } */
* {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
/*COLOR DE FONDO EN PAGINA*/
body {
  background-color: #127369;
  display: flex;
  align-items: center;
  align-content: center;
}
/*CONTENEDOR DE TODO*/
.todo {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
}

/*CONTENEDOR DE LO QUE SE DESPLIEGA EN PANTALLA*/
.pantalla {
  background-color: #127369;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/*NOMBRE CON FOTO*/
.header {
  height: 500px;
  width: fit-content;
  background-color: #10403b;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  border: 8px solid white;
}

/*CONTENEDOR DE NOMBRE Y FOTO*/
.nom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
}
.cent1,
.cent2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/*CONTENEDOR FOTO*/
.imgcont {
  height: 310px;
  width: 310px;
  display: flex;
  align-items: flex-end;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%); */
}

/*FOTO*/
.yo {
  height: inherit;
  width: inherit;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid white;
}
/*NOMBRE*/
.nombre {
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
  color: white;
  padding: 10px;
}
