/* .N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-hex { color: #127369; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-hex { color: #10403B; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-hex { color: #8AA6A3; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-hex { color: #4C5958; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-hex { color: #BFBFBF; } */
* {
  margin: 0px;
  padding: opx;
}
body {
  background-color: #10403b;
}
.All {
  height: 100%;
  width: 100%;
  background-color: #10403b;
}
.todo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  height: 100%;
  width: 100%;
}
.header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  height: 500px;
}
.contme {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.menu {
  grid-row: 1;
  /* border: 5px solid #8aa6a3; */
  border-radius: 30px 30px 30px 30px;
  height: 80%;
  width: 80%;
}
.nom {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
}
.cent1,
.cent2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.imgcont {
  height: 310px;
  width: 310px;
  display: flex;
  align-items: flex-end;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%); */
}
.yo {
  height: inherit;
  width: inherit;
  object-fit: cover;
  border-radius: 50%;
  /* border: 8px solid #8aa6a3; */
}
.pantalla {
  grid-row: 2;
  background-color: #127369;
}
.nombre {
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
  color: white;
}
