.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-1-hex {
  color: #127369;
}
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-2-hex {
  color: #10403b;
}
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-hex {
  color: #8aa6a3;
}
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-hex {
  color: #4c5958;
}
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-5-hex {
  color: #bfbfbf;
}
* {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
/*COLOR DE FONDO EN PAGINA*/
body {
  background-color: #10403b;
  /* overflow: hidden; */
}
body::-webkit-scrollbar {
  display: none;
}
/*CONTENEDOR DE TODO*/
.todo {
  width: 100%;
  min-height: 100vh;
  height: inherit;
  background-color: #10403b;
}

/*CONTENEDOR DE LO QUE SE DESPLIEGA EN PANTALLA*/
.pantalla {
  background-color: #10403b;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  width: 100%;
}

/*BOTON PARA REGRESAR A PANTALLA INICIAL*/
.regre {
  position: fixed;
  top: 50px;
  left: 50px;
  background-color: #127369;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  border: 5px solid #bfbfbf;
  z-index: 4;
}
.flecha {
  height: 30px;
  width: 30px;
  filter: invert(59%) sepia(9%) saturate(233%) hue-rotate(67deg) brightness(108%) contrast(82%);
}

/*Div de Contacto*/
.contacta {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #4c59587c;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Fredoka";
  font-size: 20px;
  color: white;
}
.form,
.Close,
.Close h2,
.form_container {
  height: auto;
  width: auto;
}
.X {
  font-size: 30px;
  border: 8pxs solid white;
  cursor: pointer;
  position: relative;
}
/* .Close {
  padding: 10px;
} */
.form {
  padding: 20px;
  padding-top: 0px;
  background-color: #10403b;
  border-radius: 10px;
  border: 8px solid white;
  width: 500px;
}
.form_title {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.inp {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: left;
  gap: 15px;
}
.form__input {
  font-family: "Fredoka";
  font-size: 18px;
  /* border-radius: 10px; */
  height: 18px;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 0.2em;
  border: 1px solid #bfbfbf;
  width: 90%;
}
.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  width: 86%;
}
.form__cta {
  font-family: inherit;
  font-size: 20px;
  width: 94%;
  margin: 1em;
  background-color: #8aa6a3;
  color: white;
  padding: 10px;
  border-radius: 0.2em;
  border: 1px solid #bfbfbf;
  cursor: pointer;
}
.form__cta:hover {
  background-color: #5f7573;
}

/*contenedor NOMBRE CON FOTO*/
.header {
  height: 500px;
  width: fit-content;
  background-color: #127369;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  border-radius: 30px;
  border: 8px solid #bfbfbf;
}

/*CONTENEDOR DE NOMBRE Y FOTO*/
.nom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
}
.cent1,
.cent2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/*CONTENEDOR FOTO*/
.imgcont {
  height: 310px;
  width: 310px;
  display: flex;
  align-items: flex-end;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%); */
}

/*FOTO*/
.yo {
  height: inherit;
  width: inherit;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid #bfbfbf;
}
/*NOMBRE*/
.nombre {
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
  color: #bfbfbf;
  display: border-box;
  padding: 10px;
}

/*PERFILES PROF*/
.perf {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 0px;
}
.perf1,
.perf2 {
  background-color: #8aa6a3;
  /* background-color:#8AA6A3; */
  transition-property: background-color, border;
  transition-duration: 2s, 1s;
  color: white;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  height: fit-content;
  width: 40%;
}
.contac {
  text-align: center;
}
.prh1 {
  text-align: center;
}

/*ESTILOS DE LETRAS EN CAJAS DE PERFILES*/
.SE {
  color: #10403b;
}
.TE {
  font-size: 35px;
  text-align: center;
}
.PE {
  font-size: 20px;
  /* margin-left: 30px; */
}
.IE {
  font-size: 20px;
  margin-left: 30px;
}
a {
  color: white;
}
.Pers {
  padding: 10px;
}
.Cont {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

/*CAJAS DE IMAGENES EN CONTACTOS Y CREDENCIALES*/
.credL img,
.credE img,
.credG img,
.credCe img,
.credCo img {
  padding: 10px;
}
.credL,
.credE,
.credG,
.credCe,
.credCo {
  border-radius: 5px;
  border: 3px solid #10403b;
}
.cien {
  height: auto;
  width: 100%-10px;
  background-color: #10403b;
  border: 5px solid white;
  border-radius: 10px;
}
.cuarenta,
.veinte,
.diez,
.ochenta {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #127369;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition-property: background-color, align-content, justify-content;
  transition-duration: 2s, 1s, 1s;
}
.cuarenta {
  width: 40%;
  transition-property: width;
  transition-duration: 2s;
}
.veinte {
  width: 20%;
  transition-property: width;
  transition-duration: 2s;
}
.diez {
  width: 10%;
  transition-property: width;
  transition-duration: 2s;
}
.diez .IE {
  margin-left: -8px;
}
.ochenta {
  width: 80%;
  transition-property: width;
  transition-duration: 2s;
}

/*TAMAÑO DE LETRA EN CUADRO DE EXPERIENCIA*/
.expProj .PE .IE {
  font-size: 18px;
  text-align: justify;
}
.expProj .PE .SE {
  font-size: 20px;
  text-align: left;
}

/*WEB DEVELOPER*/
/*Portafolios*/
.Portafol {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 90%;
  margin: 30px;
  flex-wrap: wrap;
  height: 600px;
}
.Proy1,
.Proy2,
.Proy3,
.Proy4,
.Proy5,
.Proy6 {
  height: 600px;
  width: 700px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0px #127369, 0px 0px 0px 0px #8aa6a3;
  transition: box-shadow 500ms;
}

.Proy1 .mask1,
.Proy2 .mask2,
.Proy3 .mask3,
.Proy4 .mask4,
.Proy5 .mask5,
.Proy6 .mask6 {
  z-index: -1;
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: #8aa6a380;
  font-family: "Fredoka";
  font-size: 30px;
  color: white;
  border-radius: 20px;
  display: none;
  transition: z-index 2s;
}
.mask1 h1,
.mask2 h1,
.mask3 h1,
.mask4 h1,
.mask5 h1,
.mask6 h1 {
  height: auto;
}
.Pimg1,
.Pimg2,
.Pimg3,
.Pimg4,
.Pimg5,
.Pimg6 {
  position: relative;
  /* bottom: 600px; */
  height: 590px;
  width: 690px;
  border: 5px solid white;
  border-radius: 20px;
  display: inline-block;
  content: normal;
}
.Proy1:hover .mask1,
.Proy2:hover .mask2,
.Proy3:hover .mask3,
.Proy4:hover .mask4,
.Proy5:hover .mask5,
.Proy6:hover .mask6 {
  z-index: 1;
  /* display: block; */
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Proy1:hover .Pimg1 {
  content: url("./assets/ATM2.png");
}
.Proy2:hover .Pimg2 {
  content: url("./assets/NASA2.png");
}
.Proy3:hover .Pimg3 {
  content: url("./assets/Notes2.png");
}
.Proy4:hover .Pimg4 {
  content: url("./assets/Num2.png");
}
.Proy5:hover .Pimg5 {
  content: url("./assets/Pint2.png");
}
.Proy6:hover .Pimg6 {
  content: url("./assets/Pock2.png");
}

.Proy1:hover,
.Proy2:hover,
.Proy3:hover,
.Proy4:hover,
.Proy5:hover,
.Proy6:hover {
  box-shadow: 5px 5px 0px 5px #127369, -5px -5px 0px 5px #8aa6a3;
}
/*TITULO DE PORTAFOLIO*/
.PortTit h1 {
  font-family: "Fredoka";
  font-size: 40px;
  color: white;
  transition: font-size 2s;
  border-bottom: 5px solid #127369;
  animation: port 1s ease 0s 1 normal both;
}
@keyframes port {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 40px;
  }
}
/*CREDITOS DE FLECHAS*/
.credit {
  font-family: "Fredoka";
  font-size: 20px;
  color: white;
  transition: font-size 2s;
}

/*BOTONES PARA CAMBIAR EN PORTAFOLIO*/
.chaAtr {
  background-color: #127369;
  border: 5px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: background-color 1s, border 1s, box-shadow 1s;
}
.chaAtr:hover {
  background-color: #0d574f;
  border: 5px solid #bfbfbf;
  box-shadow: 4px 4px 4px black, -4px -4px 4px gray;
}

/*Tecnologias*/
.lenguajes {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.Tec {
  width: auto;
  font-family: "Fredoka";
  font-size: 30px;
  color: white;
  border-bottom: 5px solid #127369;
}
.ContTeck {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
}
